*{
    margin: 0;
    padding: 0;
}

.background{
    background-image: url("IMAGE/11.jpg");
    height: 100vh;
    background-size:cover ;
    /*background-attachment: scroll;*/
   
   background-position: center

}
.background .box_opacity{
    height: 100vh;
background-color: black;
opacity: 0.6;
    
}